html {
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background: #292B2C;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    font-size: 1.2em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#cabecalhoSite {
    background: #2B3F53;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    font-size: 1.2em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#menuSite {
    background: #F6FAFF;
    padding: 8px;
    font-size: 1em;
    width: 25px;
    height: 100%;
    position: fixed;
    top: 50px; /* Adjust based on header height */
    left: 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#corpoSite {
    transition: margin-left 0.5s;
    color: #292B2C;
}

#formulario {
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    box-shadow: 0 0 5px #e3e3e3;
}

#buttonMenu, #buttonMenu1, #buttonMenu2, #buttonMenu3 {
    display: block;
    width: 100%;
    padding: -2px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #D5DDE8;
    font-size: 0.9em;
    background-color: #F6FAFF;
}

#menu {
    margin: -8px;

}

main {
    margin-left: 100px; /* Adjust based on menu width */
    padding: 20px;
    margin-top: 80px; /* Adjust based on header height */
    margin-right: 50px;
    transition: margin-left 0.5s;
}


form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    box-shadow: 0 0 5px #e3e3e3;
}

form input, form select, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
}

form button {
    background-color: #28A745;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

form button:active {
    background-color: #1E7E34;
}

footer {
    color: #292B2C;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
    border-top: 1px solid #DEE2E6;
}
